//borders tests
$border1 : red;
$border2 : cyan;
$border3 : green;
$border4 : purple;
$border5 : blue;
$border6 : pink;
$border7 : coral;
$border8 : yellow;

//colors
$green : #00D646;
$text-inactive : #939DAB;
$text-active : #BEC7D5;
$white: #FFFFFF;
$blue: rgba(1, 177, 175, 1);

//fonts
$textfont1 : 'Avenir_Heavy_Oblique', wingdings;
$textfont2 : 'Lulo_Clean_One_Bold', wingdings;
//sizes
$h1textsize : 0.7em;
$logosize : 1.6em; 
$cc1font1 : 4em;
$cc1font2 : 1.5em;

@font-face{
    font-family: 'Avenir_Heavy_Oblique';
    src: url('./fonts/Avenir Heavy Oblique.otf');
}
@font-face{
    font-family: 'Lulo_Clean_One_Bold';
    src: url('./fonts/Lulo_Clean_One_Bold.otf');
}

*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

.heading1{
    border : 5px solid $border7;
    font-size: $h1textsize;
    background-color : #434343;
    display: flex; 

    
    .h1box{
        font-family: $textfont1;
        color : $text-inactive;
        text-align: center;
        line-height: 50px;
        padding: 0 10px;
        &:hover{
            color : change-color($text-inactive, 190, 199, 213); 
        }
    }

    .h1b1{
        margin-left: 15em;
        font-size: $logosize;
        border : 5px solid $border1;
        width: 3.4em;  
        .h1innerb1{      
            border : 5px solid $border7;
            text-align: center;  
            color : $green;
            &:hover{
                color : change-color($green, 0, 214, 70); 
            }
        }
    }

    .h1b2{
        margin-left: 10em;
        border : 5px solid $border2;
        display: flex;      
        .h1innerb2{
            color : $green;
            border : 5px solid $border3;
            &:hover{
                color : change-color($green, 0, 214, 70); 
            }
        }
        .h1innerb3{
            border : 5px solid $border4;
        }
        .h1innerb4{
            border : 5px solid $border3;
        }
    }
}

.contentcard1{
    border : 5px solid $border6;
    display: flex;
    flex-direction : column; 
    justify-content: space-around;
    align-items: center;
    background-color : #434343; 
    color : $white;

    .makeGreen{ 
        color : $green;
    }

    .cc1b1, .cc1b2{
        display: flex;
        flex-direction : column; 
        width : 50%;
        align-items: left;
        

    }
    .cc1b1{
        margin-top: 1em;
        border : 5px solid $border4;
        font-size: $cc1font1;
        font-family: $textfont2;
        font-weight: bolder;
        .cc1innerb1{
            border : 5px solid $border1;
        }
        .cc1innerb2{
            border : 5px solid $border8;
        }
    }
    .cc1b2{
        margin-top: 3em;
        border : 5px solid $border2;
        font-size: $cc1font2;
        font-family: $textfont1;
        .cc1innerb3{
            border : 5px solid $border5;
        }
        .cc1innerb4{
            border : 5px solid $border1;
        }
    }
}


