@font-face {
  font-family: 'Avenir_Heavy_Oblique';
  src: url("./fonts/Avenir Heavy Oblique.otf"); }

@font-face {
  font-family: 'Lulo_Clean_One_Bold';
  src: url("./fonts/Lulo_Clean_One_Bold.otf"); }

@font-face {
  font-family: 'Avenir_Light';
  src: url("./fonts/Avenir Light.otf"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  * .App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    * .App .HomePage .card1, * .App .HomePage .card2, * .App .HomePage .card3 {
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed; }
    * .App .HomePage .card1 {
      background-image: url("http://res.cloudinary.com/dtvznpuay/image/upload/v1519609942/bg5_kugdk1.webp");
      background-size: 100em;
      background-position: right; }
      * .App .HomePage .card1 .heading1 {
        font-size: 0.7em;
        padding-top: 3em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        * .App .HomePage .card1 .heading1 .h1box {
          font-family: "Avenir_Light", windings;
          color: #939DAB;
          text-align: center;
          line-height: 50px;
          padding: 0 8px; }
          * .App .HomePage .card1 .heading1 .h1box:hover {
            color: #bec7d5; }
        * .App .HomePage .card1 .heading1 .h1b1 {
          margin-left: 15em;
          font-size: 1.6em;
          width: 3.4em; }
          * .App .HomePage .card1 .heading1 .h1b1 .h1innerb1 {
            text-align: center;
            color: #00D646; }
            * .App .HomePage .card1 .heading1 .h1b1 .h1innerb1:hover {
              color: #00d646; }
        * .App .HomePage .card1 .heading1 .h1b2 {
          margin-left: 10em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-size: 1.2em; }
          * .App .HomePage .card1 .heading1 .h1b2 .h1innerb2 {
            color: #00D646; }
            * .App .HomePage .card1 .heading1 .h1b2 .h1innerb2:hover {
              color: #00d646; }
      * .App .HomePage .card1 .contentcard1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #FFFFFF;
        padding: 12em 0; }
        * .App .HomePage .card1 .contentcard1 .makeGreen {
          color: #00D646; }
        * .App .HomePage .card1 .contentcard1 .cc1b1, * .App .HomePage .card1 .contentcard1 .cc1b2 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 50%;
          -webkit-box-align: left;
          -ms-flex-align: left;
          align-items: left; }
        * .App .HomePage .card1 .contentcard1 .cc1b1 {
          margin-top: 1em;
          font-size: 4em;
          font-family: "Lulo_Clean_One_Bold", wingdings;
          font-weight: bolder; }
        * .App .HomePage .card1 .contentcard1 .cc1b2 {
          margin-top: 3em;
          font-size: 1.5em;
          font-family: "Avenir_Light", windings; }
    * .App .HomePage .card2 {
      background-image: url("http://res.cloudinary.com/dtvznpuay/image/upload/v1519609969/bg4_ykd1ym.jpg");
      background-size: 100em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      * .App .HomePage .card2 .contentcard2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 10em; }
        * .App .HomePage .card2 .contentcard2 .cc2lvl1b1 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          background-color: #262C3E;
          color: #FFFFFF;
          font-family: "Avenir_Light", windings;
          padding: 5em 0;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 55%; }
          * .App .HomePage .card2 .contentcard2 .cc2lvl1b1 .cc2lvl2b1, * .App .HomePage .card2 .contentcard2 .cc2lvl1b1 .cc2lvl2b2, * .App .HomePage .card2 .contentcard2 .cc2lvl1b1 .cc2lvl2b3 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 50%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 2em; }
          * .App .HomePage .card2 .contentcard2 .cc2lvl1b1 .cc2lvl2b2 .cc2lvl3b2 {
            font-size: 1.6em;
            font-weight: bold;
            margin-bottom: 1em; }
          * .App .HomePage .card2 .contentcard2 .cc2lvl1b1 .cc2lvl2b2 .cc2lvl3b3 {
            line-height: 2em;
            text-align: center; }
          * .App .HomePage .card2 .contentcard2 .cc2lvl1b1 .cc2lvl2b3 {
            margin-bottom: 2em; }
            * .App .HomePage .card2 .contentcard2 .cc2lvl1b1 .cc2lvl2b3 .cc2lvl3b4 {
              border: 2px solid #00D646;
              padding: 0.8em 1.7em; }
              * .App .HomePage .card2 .contentcard2 .cc2lvl1b1 .cc2lvl2b3 .cc2lvl3b4:hover {
                background-color: #00d646; }
              * .App .HomePage .card2 .contentcard2 .cc2lvl1b1 .cc2lvl2b3 .cc2lvl3b4:active {
                background-color: #003612;
                border: 2px solid #003612; }
      * .App .HomePage .card2 .contentcard3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 10em; }
        * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin: 3em 0 1.5em 0;
          font-family: "Lulo_Clean_One_Bold", wingdings;
          font-size: 2.8em;
          color: #FFFFFF;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 60%; }
          * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b1 .cc3lvl3b1 {
              padding: 0 0.2em;
              color: #262C3E; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b1 .cc3lvl3b2 {
              padding: 0 0.2em; }
          * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b2 {
            text-align: center;
            font-family: "Avenir_Light", windings;
            font-weight: bold;
            font-size: 0.5em;
            margin-bottom: 1em; }
          * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 {
            font-family: "Avenir_Light", windings;
            font-size: 0.5em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            background-color: rgba(190, 199, 213, 0.4);
            padding: 1em 3em; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b3, * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b4, * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b5, * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b6, * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b7, * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b8, * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b9, * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b10 {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row;
              color: black; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b3 .cc3lvl4b2 {
              padding-top: 0.7em;
              padding-left: 1em; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b4 {
              padding: 0 0.2em; }
              * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b4 .cc3lvl4b4 {
                padding-top: 0.7em;
                padding-left: 1em; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b5 {
              padding: 0 .5em; }
              * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b5 .cc3lvl4b6 {
                padding-top: 0.7em;
                padding-left: 1em; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b6 .cc3lvl4b8 {
              padding-top: 0.7em;
              padding-left: 1em; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b7 .cc3lvl4b10 {
              padding-top: 0.7em;
              padding-left: 1em; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b8 .cc3lvl4b12 {
              padding-top: 0.7em;
              padding-left: 1em; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b9 .cc3lvl4b14 {
              padding-top: 0.7em;
              padding-left: 1em; }
            * .App .HomePage .card2 .contentcard3 .cc3lvl1b1 .cc3lvl2b3 .cc3lvl3b10 .cc3lvl4b16 {
              padding-top: 0.7em;
              padding-left: 1em; }
    * .App .HomePage .card3 {
      background-image: url("http://res.cloudinary.com/dtvznpuay/image/upload/v1519609961/bg3_hojgf5.jpg");
      background-size: 200em;
      border-bottom: 5em solid #262C3E; }
      * .App .HomePage .card3 .contentcard4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10em 0; }
        * .App .HomePage .card3 .contentcard4 .cc4b1 {
          font-family: "Lulo_Clean_One_Bold", wingdings;
          font-size: 2.8em;
          color: #FFFFFF;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 2em; }
          * .App .HomePage .card3 .contentcard4 .cc4b1 .cc4lvl1b1, * .App .HomePage .card3 .contentcard4 .cc4b1 .cc4innerb2 {
            padding: 0 0.2em; }
          * .App .HomePage .card3 .contentcard4 .cc4b1 .cc4lvl1b1 {
            color: #BEC7D5; }
        * .App .HomePage .card3 .contentcard4 .cc4b2 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          * .App .HomePage .card3 .contentcard4 .cc4b2 .cc4lvl1b3, * .App .HomePage .card3 .contentcard4 .cc4b2 .cc4lvl1b4, * .App .HomePage .card3 .contentcard4 .cc4b2 .cc4lvl1b5 {
            color: white; }
          * .App .HomePage .card3 .contentcard4 .cc4b2 .cc4lvl1b3 {
            background-color: #191b23;
            padding: 1em 0.5em 1em 1em; }
          * .App .HomePage .card3 .contentcard4 .cc4b2 .cc4lvl1b4 {
            background-color: #191b23;
            padding: 1em 0.5em 1em 0.5em; }
          * .App .HomePage .card3 .contentcard4 .cc4b2 .cc4lvl1b5 {
            background-color: #191b23;
            padding: 1em 1em 1em 0.5em; }
      * .App .HomePage .card3 .contentcard5 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10em 0; }
        * .App .HomePage .card3 .contentcard5 .cc5lvl1b1 {
          margin-bottom: 1.5em;
          font-family: "Lulo_Clean_One_Bold", wingdings;
          font-size: 2.8em;
          color: #FFFFFF;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          * .App .HomePage .card3 .contentcard5 .cc5lvl1b1 .cc5lvl2b1 {
            padding: 0 0.2em;
            color: #BEC7D5; }
          * .App .HomePage .card3 .contentcard5 .cc5lvl1b1 .cc5lvl2b2 {
            padding: 0 0.2em; }
        * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 {
          font-family: "Avenir_Light", windings;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
          * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b3 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start; }
            * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b3 .cc5lvl3b1 {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              width: 20%;
              color: white;
              text-align: right;
              margin-left: 21em; }
              * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b3 .cc5lvl3b1 .cc5lvl4b1 {
                color: #00D646;
                font-family: "Lulo_Clean_One_Bold", wingdings;
                font-size: 1em; }
              * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b3 .cc5lvl3b1 .cc5lvl4b2 {
                font-weight: bold;
                font-size: 1.4em; }
              * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b3 .cc5lvl3b1 .cc5lvl4b3 {
                font-weight: bold; }
          * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b4 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end; }
            * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b4 .cc5lvl3b2 {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              width: 20%;
              color: white;
              text-align: left;
              margin-right: 21em; }
              * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b4 .cc5lvl3b2 .cc5lvl4b4 {
                color: #00D646;
                font-family: "Lulo_Clean_One_Bold", wingdings;
                font-size: 1em; }
              * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b4 .cc5lvl3b2 .cc5lvl4b5 {
                font-weight: bold;
                font-size: 1.4em; }
              * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b4 .cc5lvl3b2 .cc5lvl4b6 {
                font-weight: bold; }
              * .App .HomePage .card3 .contentcard5 .cc5lvl1b2 .cc5lvl2b4 .cc5lvl3b2 .cc5lvl4b7 {
                font-weight: bold; }
      * .App .HomePage .card3 .contentcard6 {
        margin-bottom: 15em; }
        * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 {
          background-color: #00003f;
          color: #FFFFFF;
          font-family: "Avenir_Light", windings;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin: 5em 15em;
          padding: 5em 5em; }
          * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b1 {
              margin-right: 4em; }
              * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b1 .cc6lvl4b1 {
                font-size: 1.4em;
                font-weight: bold;
                margin-bottom: 1.2em; }
              * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b1 .cc6lvl4b2 {
                font-weight: bold;
                margin-bottom: 1.4em; }
              * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b1 .cc6lvl4b3 {
                font-weight: bold;
                margin-bottom: 1.2em; }
              * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b1 .cc6lvl4b4 {
                font-weight: bold; }
            * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 {
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              margin-left: 4em; }
              * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .searchb1, * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .searchb2, * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .searchb3 {
                border: none;
                margin-bottom: 12px;
                padding: 5px;
                min-height: 40px;
                color: gray;
                width: 175px;
                font-family: "Avenir_Light", windings;
                font-size: 1em; }
              * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .cc6lvl4b5 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex; }
                * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .cc6lvl4b5 .cc6lvl5b1 {
                  padding-right: 15px; }
                  * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .cc6lvl4b5 .cc6lvl5b1 .searchb2 {
                    margin-right: 10px; }
              * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .cc6lvl4b6 .searchb2 {
                width: 365px; }
              * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .cc6lvl4b7 .searchb3 {
                width: 365px;
                height: 150px;
                margin-bottom: 6px; }
              * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .cc6button {
                background-color: #00D646;
                color: black;
                padding: 0.7em;
                text-align: center; }
                * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .cc6button:hover {
                  background-color: #04643d; }
                * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b1 .cc6lvl3b2 .cc6button:active {
                  background-color: #003612; }
          * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b2 {
            margin-top: 4em; }
            * .App .HomePage .card3 .contentcard6 .cc6lvl1b1 .cc6lvl2b2 .cc6lvl3b3 {
              text-align: center; }
        * .App .HomePage .card3 .contentcard6 .cc6lvl1b2 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin: 15em 0; }
    * .App .ProjectPage1 .pp1lvl1b1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #3c4662;
      color: white; }
      * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b1 {
        font-family: "Lulo_Clean_One_Bold", wingdings;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 4em;
        margin-top: 2em; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b1 .pp1lvl3b1 {
          margin: 0 5px; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b1 .pp1lvl3b2 {
          margin: 0 5px; }
      * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b2 .pp1lvl3b3 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 80px 40px 40px 40px; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b2 .pp1lvl3b4 {
          margin: 80px 40px 40px 40px; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b2 .pp1lvl3b5 {
          margin: 40px; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b2 .pp1lvl3b6 {
          margin: 80px 40px 40px 40px; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b2 .pp1lvl3b7 {
          margin: 80px 40px 40px 40px; }
      * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b3 .pp1lvl3b8 {
          background-color: #262c3e;
          font-family: "Avenir_Light", windings;
          margin: 2em;
          width: 50%;
          padding: 2em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b3 .pp1lvl3b8 .pp1lvl4b1 {
            font-size: 4em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b3 .pp1lvl3b8 .pp1lvl4b2 {
            font-size: 1.5em; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b3 .pp1lvl3b9 {
          background-color: #262c3e;
          font-family: "Avenir_Light", windings;
          margin: 2em;
          width: 50%;
          padding: 2em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b3 .pp1lvl3b9 .pp1lvl4b3 {
            font-size: 4em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b3 .pp1lvl3b9 .pp1lvl4b4 {
            font-size: 1.5em; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b3 .pp1lvl3b10 {
          background-color: #262c3e;
          font-family: "Avenir_Light", windings;
          margin: 2em;
          width: 50%;
          padding: 2em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b3 .pp1lvl3b10 .pp1lvl4b5 {
            font-size: 4em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b3 .pp1lvl3b10 .pp1lvl4b6 {
            font-size: 1.5em; }
      * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b4 {
        font-family: "Avenir_Light", windings;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b4 .pp1lvl3b11 {
          margin: 2em 2em 4em 2em;
          width: 75%;
          padding: 2em;
          background-color: #262c3e; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b4 .pp1lvl3b11 .pp1lvl4b7 {
            font-size: 4em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b4 .pp1lvl3b11 .pp1lvl4b8 {
            font-size: 1.5em; }
      * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 {
        font-family: "Avenir_Light", windings;
        background-color: #262c3e; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b12 {
          margin: 2em;
          padding: 2em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b12 .pp1lvl4b9 {
            padding: 0 1em;
            margin: 0 2em; }
            * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b12 .pp1lvl4b9 .pp1lvl5b1 {
              font-size: 4em; }
            * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b12 .pp1lvl4b9 .pp1lvl5b2 {
              font-size: 1.5em; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b13 {
          margin: 2em;
          padding: 2em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b13 .pp1lvl4b11 {
            padding: 0 1em;
            margin: 0 2em; }
            * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b13 .pp1lvl4b11 .pp1lvl5b4 {
              font-size: 4em; }
            * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b13 .pp1lvl4b11 .pp1lvl5b5 {
              font-size: 1.5em; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b14 {
          margin: 2em;
          padding: 2em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b14 .pp1lvl4b13 {
            padding: 0 1em;
            margin: 0 2em; }
            * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b14 .pp1lvl4b13 .pp1lvl5b7 {
              font-size: 4em; }
            * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b14 .pp1lvl4b13 .pp1lvl5b8 {
              font-size: 1.5em; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b15 {
          margin: 2em;
          padding: 2em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b15 .pp1lvl4b15 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0 1em;
            margin: 0 2em; }
            * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b15 .pp1lvl4b15 .pp1lvl5b10 {
              font-size: 4em; }
            * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b15 .pp1lvl4b15 .pp1lvl5b11 {
              font-size: 1.5em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b15 .pp1lvl4b16 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 2em; }
            * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b15 .pp1lvl4b16 .pp1lvl5b12 {
              margin: 0 5em; }
            * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b5 .pp1lvl3b15 .pp1lvl4b16 .pp1lvl5b13 {
              margin: 0 5em; }
      * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b6 {
        font-family: "Avenir_Light", windings;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 2em; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b6 .pp1lvl3b16 {
          margin: 2em;
          width: 75%;
          padding: 2em;
          background-color: #262c3e; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b6 .pp1lvl3b16 .pp1lvl4b17 {
            font-size: 4em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b6 .pp1lvl3b16 .pp1lvl4b18 {
            font-size: 1.5em; }
      * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b7 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-family: "Avenir_Light", windings;
        margin-bottom: 3em; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b7 .pp1lvl3b18 {
          margin: 2em;
          width: 75%;
          padding: 2em;
          background-color: #262c3e; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b7 .pp1lvl3b18 .pp1lvl4b21 {
            font-size: 2em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b7 .pp1lvl3b18 .pp1lvl4b22 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: 1em; }
        * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b7 .pp1lvl3b19 {
          margin: 2em;
          width: 75%;
          padding: 2em;
          background-color: #262c3e; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b7 .pp1lvl3b19 .pp1lvl4b23 {
            font-size: 2em; }
          * .App .ProjectPage1 .pp1lvl1b1 .pp1lvl2b7 .pp1lvl3b19 .pp1lvl4b24 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: 1em; }
    * .App .ProjectPage2 .pp2lvl1b1 {
      border: 5px solid purple;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #3c4662;
      color: white; }
      * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-family: "Lulo_Clean_One_Bold", wingdings;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 4em;
        margin-top: 2em; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b1 .pp2lvl3b1 {
          margin: 0 5px; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b1 .pp2lvl3b2 {
          margin: 0 5px;
          margin-top: 0.5em; }
      * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b2 .pp2lvl3b3 {
          background-color: #262c3e;
          font-family: "Avenir_Light", windings;
          margin: 2em;
          width: 50%;
          padding: 2em; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b2 .pp2lvl3b3 .pp2lvl4b1 {
            font-size: 4em; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b2 .pp2lvl3b3 .pp2lvl4b2 {
            font-size: 1.5em; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b2 .pp2lvl3b4 {
          background-color: #262c3e;
          font-family: "Avenir_Light", windings;
          margin: 2em;
          width: 50%;
          padding: 2em; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b2 .pp2lvl3b4 .pp2lvl4b3 {
            font-size: 4em; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b2 .pp2lvl3b4 .pp2lvl4b4 {
            font-size: 1.5em; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b2 .pp2lvl3b5 {
          background-color: #262c3e;
          font-family: "Avenir_Light", windings;
          margin: 2em;
          width: 50%;
          padding: 2em; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b2 .pp2lvl3b5 .pp2lvl4b5 {
            font-size: 4em; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b2 .pp2lvl3b5 .pp2lvl4b6 {
            font-size: 1.5em; }
      * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b3 {
        font-family: "Avenir_Light", windings;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b3 .pp2lvl3b6 {
          margin: 2em 2em 4em 2em;
          width: 75%;
          padding: 2em;
          background-color: #262c3e; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b3 .pp2lvl3b6 .pp2lvl4b7 {
            font-size: 4em; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b3 .pp2lvl3b6 .pp2lvl4b8 {
            font-size: 1.5em; }
      * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b4 {
        background-color: #262c3e; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b4 .pp2lvl3b7 {
          margin: 2em;
          padding: 2em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b4 .pp2lvl3b7 .pp2lvl4b9 {
            padding: 0 1em;
            margin: 0 2em; }
            * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b4 .pp2lvl3b7 .pp2lvl4b9 .pp2lvl5b1 {
              font-size: 4em; }
            * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b4 .pp2lvl3b7 .pp2lvl4b9 .pp2lvl5b2 {
              font-size: 1.5em; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b4 .pp2lvl3b8 {
          margin: 2em;
          padding: 2em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b4 .pp2lvl3b8 .pp2lvl4b11 {
            padding: 0 1em;
            margin: 0 2em; }
            * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b4 .pp2lvl3b8 .pp2lvl4b11 .pp2lvl5b4 {
              font-size: 4em; }
            * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b4 .pp2lvl3b8 .pp2lvl4b11 .pp2lvl5b5 {
              font-size: 1.5em; }
      * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b5 {
        font-family: "Avenir_Light", windings;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 2em; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b5 .pp2lvl3b9 {
          margin: 2em;
          width: 75%;
          padding: 2em;
          background-color: #262c3e; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b5 .pp2lvl3b9 .pp2lvl4b13 {
            font-size: 4em; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b5 .pp2lvl3b9 .pp2lvl4b14 {
            font-size: 1.5em; }
      * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b6 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-family: "Avenir_Light", windings;
        margin-bottom: 3em; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b6 .pp2lvl3b13 {
          margin: 2em;
          width: 75%;
          padding: 2em;
          background-color: #262c3e; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b6 .pp2lvl3b13 .pp2lvl4b21 {
            font-size: 2em; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b6 .pp2lvl3b13 .pp2lvl4b22 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: 1em; }
        * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b6 .pp2lvl3b14 {
          margin: 2em;
          width: 75%;
          padding: 2em;
          background-color: #262c3e; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b6 .pp2lvl3b14 .pp2lvl4b23 {
            font-size: 2em; }
          * .App .ProjectPage2 .pp2lvl1b1 .pp2lvl2b6 .pp2lvl3b14 .pp2lvl4b24 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: 1em; }
    * .App .ProjectPage3 .pp3lvl1b1 {
      border: 5px solid coral;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #3c4662;
      color: white; }
      * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 4em;
        margin-top: 2em; }
      * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b2 .pp3lvl3b2 {
          background-color: #262c3e;
          font-family: "Avenir_Light", windings;
          margin: 2em;
          width: 50%;
          padding: 2em; }
          * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b2 .pp3lvl3b2 .pp3lvl4b1 {
            font-size: 4em; }
          * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b2 .pp3lvl3b2 .pp3lvl4b2 {
            font-size: 1.5em; }
        * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b2 .pp3lvl3b3 {
          background-color: #262c3e;
          font-family: "Avenir_Light", windings;
          margin: 2em;
          width: 50%;
          padding: 2em; }
          * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b2 .pp3lvl3b3 .pp3lvl4b3 {
            font-size: 4em; }
          * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b2 .pp3lvl3b3 .pp3lvl4b4 {
            font-size: 1.5em; }
        * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b2 .pp3lvl3b4 {
          background-color: #262c3e;
          font-family: "Avenir_Light", windings;
          margin: 2em;
          width: 50%;
          padding: 2em; }
          * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b2 .pp3lvl3b4 .pp3lvl4b5 {
            font-size: 4em; }
          * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b2 .pp3lvl3b4 .pp3lvl4b6 {
            font-size: 1.5em; }
      * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b3 {
        background-color: #262c3e;
        padding: 2em; }
        * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b3 .pp3lvl3b5 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b3 .pp3lvl3b5 .pp3lvl4b7 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0 1em;
            margin: 0 2em; }
            * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b3 .pp3lvl3b5 .pp3lvl4b7 .pp3lvl5b1 {
              font-size: 4em; }
            * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b3 .pp3lvl3b5 .pp3lvl4b7 .pp3lvl5b2 {
              font-size: 1.5em; }
          * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b3 .pp3lvl3b5 .pp3lvl4b8 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 2em; }
            * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b3 .pp3lvl3b5 .pp3lvl4b8 .pp3lvl5b3 {
              margin: 0 5em; }
            * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b3 .pp3lvl3b5 .pp3lvl4b8 .pp3lvl5b4 {
              margin: 0 5em; }
      * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b4 .pp3lvl3b2 {
          background-color: #262c3e;
          font-family: "Avenir_Light", windings;
          margin: 2em;
          width: 50%;
          padding: 2em; }
          * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b4 .pp3lvl3b2 .pp3lvl4b1 {
            font-size: 4em; }
          * .App .ProjectPage3 .pp3lvl1b1 .pp3lvl2b4 .pp3lvl3b2 .pp3lvl4b2 {
            font-size: 1.5em; }
