//borders tests
$border1 : red;
$border2 : cyan;
$border3 : green;
$border4 : purple;
$border5 : blue;
$border6 : pink;
$border7 : coral;
$border8 : yellow;
$border9 : magenta;
$border10 : yellowgreen;
$border11 : indigo;
$border12 : orangered;

//colors
$green : #00D646;
$text-inactive : #939DAB;
$text-active : #BEC7D5;
$demo : #434343;
$cc2back : #262C3E;
$cc4back : #8000ff;
$cc5back : #0377f6;
$white: #FFFFFF;
$blue: rgba(1, 177, 175, 1);
$cc4inner1 : #16181F;
$cc4inner2 : #181A1F;

//fonts
$textfont1 : 'Avenir_Heavy_Oblique', wingdings;
$textfont2 : 'Lulo_Clean_One_Bold', wingdings;
$textfont3 : 'Avenir_Light', windings;
//sizes
$h1textsize : 0.7em;
$logosize : 1.6em; 
$cc1font1 : 4em;
$cc1font2 : 1.5em;

@font-face{
    font-family: 'Avenir_Heavy_Oblique';
    src: url('./fonts/Avenir Heavy Oblique.otf');
}
@font-face{
    font-family: 'Lulo_Clean_One_Bold';
    src: url('./fonts/Lulo_Clean_One_Bold.otf');
}
@font-face{
    font-family: 'Avenir_Light';
    src: url('./fonts/Avenir Light.otf');
}

*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(0,255,0,0.1); 
    .App{
        display : flex;
        flex-direction: column;
        
        .heading1{
            border : 5px solid $border7;
            font-size: $h1textsize;
            background-color : $demo;
            display: flex; 
        
            
            .h1box{
                font-family: $textfont3;
                color : $text-inactive;
                text-align: center;
                line-height: 50px;
                padding: 0 10px;
                &:hover{
                    color : change-color($text-inactive, 190, 199, 213); 
                }
            }
        
            .h1b1{
                margin-left: 15em;
                font-size: $logosize;
                border : 5px solid $border1;
                width: 3.4em;  
                .h1innerb1{      
                    border : 5px solid $border7;
                    text-align: center;  
                    color : $green;
                    &:hover{
                        color : change-color($green, 0, 214, 70); 
                    }
                }
            }
        
            .h1b2{
                margin-left: 10em;
                border : 5px solid $border2;
                display: flex;      
                .h1innerb2{
                    color : $green;
                    border : 5px solid $border3;
                    &:hover{
                        color : change-color($green, 0, 214, 70); 
                    }
                }
                .h1innerb3{
                    border : 5px solid $border4;
                }
                .h1innerb4{
                    border : 5px solid $border3;
                }
            }
        }
        
        .contentcard1{
            border : 5px solid $border6;
            display: flex;
            flex-direction : column; 
            justify-content: space-around;
            align-items: center;
            background-color : $demo; 
            color : $white;
            padding: 5em 0; 
        
            .makeGreen{ 
                color : $green;
            }
        
            .cc1b1, .cc1b2{
                display: flex;
                flex-direction : column; 
                width : 50%;
                align-items: left;
                
            }
            .cc1b1{
                margin-top: 1em;
                border : 5px solid $border4;
                font-size: $cc1font1;
                font-family: $textfont2;
                font-weight: bolder;
                .cc1lvl1b1{
                    border : 5px solid $border1;
                }
                .cc1lvl1b2{
                    border : 5px solid $border8;
                }
            }
            .cc1b2{
                margin-top: 3em;
                border : 5px solid $border2;
                font-size: $cc1font2;
                font-family: $textfont3;
                .cc1lvl1b3{
                    border : 5px solid $border5;
                }
                .cc1lvl1b4{
                    border : 5px solid $border1;
                }
            }
        }

        .contentcard2{
            border : 5px solid $border4;
            display: flex;
            flex-direction : column; 
            align-items: center;
            background-color : $cc2back;
            color : $white;
            font-family: $textfont3;
            padding: 5em 0;
            margin : 0 10em; 
            // width: 75%;
            // align-items: center;
            
        
        
            .cc2b1, .cc2b2, .cc2b3{
                display: flex;
                flex-direction : column; 
                width : 50%;
                align-items: center;
                padding-bottom: 2em; 
                margin-top: 2em;
            }
        
        
        
            .cc2b1{
                border : 5px solid $border2;
        
            }
            .cc2b2{
                border : 5px solid $border7;
                font-weight: bold;

                .cc2lvl1b1{
                    font-size: 1.5em;
                    border : 5px solid $border4;
                }
                .cc2lvl1b2{
                    line-height: 2em;
                    text-align: center;
                    border : 5px solid $border1;
                }   
            }
            .cc2b3{
                
                border : 5px solid $border5;
                .cc2lvl1b3{
                    border : 2px solid $green;
                    padding : 0.8em 1.7em;
                    //needs a transition, look in TTT for help
                    &:hover{
                        background-color : change-color($green, 0, 214, 70); 
                    }
                }     
            }
        } 
        
        .contentcard4{
            border : 5px solid $border1;
            display: flex;
            flex-direction: column;
            background-color: $cc4back; 
            align-items: center;
            padding: 10em 0;
            
            .cc4b1{
                font-family: $textfont2;
                font-size: 2.8em;
                color : $white; 
                border : 5px solid $border3;
                display: flex;
                margin-bottom: 2em;
                .cc4lvl1b1, .cc4innerb2{
                    padding: 0 0.2em;
                }

                .cc4lvl1b1{
                    color : $text-active;
                    border : 5px solid $border8;
                }
                .cc4lvl1b2{
                    border : 5px solid $border2;
                }
            }
            .cc4b2{
                border : 5px solid $border5;
                display: flex;
                
                .cc4lvl1b3,  .cc4lvl1b4 , .cc4lvl1b5{
                    padding : 7em 7em 7em 7em;
                    color: white;

                }
                .cc4lvl1b3{
                    border : 5px solid $border1;
                    background-color: $cc4inner1;
                }
                .cc4lvl1b4{
                    border : 5px solid $border4;
                    background-color: $cc4inner2;
                }
                .cc4lvl1b5{
                    border : 5px solid $border3;
                    background-color: $cc4inner1;
                }
            }
        }

        .contentcard5{
            border: 5px solid $border11;
            display: flex;
            flex-direction: column;
            background-color: $cc5back; 
            padding: 10em 0;

            .cc5lvl1b1{
                border : 5px solid $border3;
                margin-bottom: 1.5em;
                font-family: $textfont2;
                font-size: 2.8em;
                color : $white; 
                display: flex;
                justify-content: center;
                     
                .cc5lvl2b1{
                    border : 5px solid $border8;
                    padding: 0 0.2em;
                    color : $text-active;
                }
                .cc5lvl2b2{
                    border : 5px solid $border2;
                    padding: 0 0.2em; 
                }
            }

            .cc5lvl1b2{
                border: 5px solid $border4;
                font-family: $textfont3;
                display: flex;
                flex-direction: column-reverse;
               
                .cc5lvl2b3{
                    border: 5px solid $border2;
                    display: flex;
                    justify-content: flex-start;
                    
                    .cc5lvl3b1{
                        border: 5px solid $border8;
                        display: flex;
                        flex-direction: column;
                        width : 20%;
                        color :white;
                        text-align: right;
                        margin-left : 21em;
                        
                        .cc5lvl4b1{
                            border: 5px solid $border1;
                            color : $green;
                            font-family: $textfont2;
                            font-size: 1em;
                        }

                        .cc5lvl4b2{
                            border: 5px solid $border3;
                            font-weight: bold;
                            font-size: 1.4em;    
                        }

                        .cc5lvl4b3{
                            border: 5px solid $border5;
                            font-weight: bold;
                        }
                    }
                }
                .cc5lvl2b4{
                    border: 5px solid $border6;
                    display: flex;
                    justify-content: flex-end;

                    .cc5lvl3b2{
                        border: 5px solid $border8;
                        display: flex;
                        flex-direction: column;
                        width : 20%;
                        color :white;
                        text-align: left;
                        margin-right : 21em;
                    
                        .cc5lvl4b4{
                            border: 5px solid $border1;
                            color : $green;
                            font-family: $textfont2;
                            font-size: 1em;
                        }
                        .cc5lvl4b5{
                            border: 5px solid $border3;
                            font-weight: bold;
                            font-size: 1.4em;  
                        }

                        .cc5lvl4b6{
                            border: 5px solid $border2;
                            font-weight: bold;
                        }

                        .cc5lvl4b7{
                            border: 5px solid $border9;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
