//borders tests
$border1 : red;
$border2 : cyan;
$border3 : green;
$border4 : purple;
$border5 : blue;
$border6 : pink;
$border7 : coral;
$border8 : yellow;
$border9 : magenta;
$border10 : yellowgreen;
$border11 : indigo;
$border12 : orangered;

//colors
$green : #00D646;
$text-inactive : #939DAB;
$text-active : #BEC7D5;
$demo : #434343;
$cc2back : #262C3E;
$cc4back : #8000ff;
$cc5back : #0377f6;
$cc6back : #00003f;
$tan: #d9c09e;
$white: #FFFFFF;
$blue: rgba(1, 177, 175, 1);
$cc4inner1 : #16181F;
$cc4inner2 : #181A1F;
$ppcolor : #3c4662;
$ppcolordark : #262c3e;

//fonts
$textfont1 : 'Avenir_Heavy_Oblique', wingdings;
$textfont2 : 'Lulo_Clean_One_Bold', wingdings;
$textfont3 : 'Avenir_Light', windings;
//sizes
$h1textsize : 0.7em;
$logosize : 1.6em; 
$cc1font1 : 4em;
$cc1font2 : 1.5em;

@font-face{
    font-family: 'Avenir_Heavy_Oblique';
    src: url('./fonts/Avenir Heavy Oblique.otf');
}
@font-face{
    font-family: 'Lulo_Clean_One_Bold';
    src: url('./fonts/Lulo_Clean_One_Bold.otf');
}
@font-face{
    font-family: 'Avenir_Light';
    src: url('./fonts/Avenir Light.otf');
}

*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: rgba(0,255,0,0.1); 
    
    .App{
        display : flex;
        flex-direction: column;

        .HomePage{

            .card1, .card2, .card3{
                background-position: center; 
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
            .card1{
                background-image : url("http://res.cloudinary.com/dtvznpuay/image/upload/v1519609942/bg5_kugdk1.webp");
                background-size: 100em;
                background-position: right; 
                
                .heading1{
                    // border : 5px solid $border7;
                    font-size: $h1textsize;
                    // background-color : $demo;
                    // margin-top: 1em;
                    padding-top :3em;
                    display: flex; 
        
                    .h1box{
                        font-family: $textfont3;
                        color : $text-inactive;
                        text-align: center;
                        line-height: 50px;
                        padding: 0 8px;
                        &:hover{
                            color : change-color($text-inactive, 190, 199, 213); 
                        }
                    }
                
                    .h1b1{
                        margin-left: 15em;
                        font-size: $logosize;
                        // border : 5px solid $border1;
                        width: 3.4em;  
                        .h1innerb1{      
                            // border : 5px solid $border7;
                            text-align: center;  
                            color : $green;
                            &:hover{
                                color : change-color($green, 0, 214, 70); 
                            }
                        }
                    }
                
                    .h1b2{
                        margin-left: 10em;
                        // border : 5px solid $border2;
                        display: flex; 
                        font-size : 1.2em;     
                        .h1innerb2{
                            color : $green;
                            // border : 5px solid $border3;
                            &:hover{
                                color : change-color($green, 0, 214, 70); 
                            }
                        }
                        .h1innerb3{
                            // border : 5px solid $border4;
                        }
                        .h1innerb4{
                            // border : 5px solid $border3;
                        }
                    }
                }
                
                .contentcard1{
                    // border : 5px solid $border6;
                    display: flex;
                    flex-direction : column; 
                    justify-content: space-around;
                    align-items: center;
                    // background-color : $demo; 
                    color : $white;
                    padding: 12em 0;
                
                    .makeGreen{ 
                        color : $green;
                    }
                
                    .cc1b1, .cc1b2{
                        display: flex;
                        flex-direction : column; 
                        width : 50%;
                        align-items: left;
                        
                    }
                    .cc1b1{
                        margin-top: 1em;
                        // border : 5px solid $border4;
                        font-size: $cc1font1;
                        font-family: $textfont2;
                        font-weight: bolder;
                        // .cc1lvl1b1{
                        //     border : 5px solid $border1;
                        // }
                        // .cc1lvl1b2{
                        //     border : 5px solid $border8;
                        // }
                    }
                    .cc1b2{
                        margin-top: 3em;
                        // border : 5px solid $border2;
                        font-size: $cc1font2;
                        font-family: $textfont3;
                        // .cc1lvl1b3{
                        //     border : 5px solid $border5;
                        // }
                        // .cc1lvl1b4{
                        //     border : 5px solid $border1;
                        // }
                    }
                }
            }
            .card2{
                background-image : url("http://res.cloudinary.com/dtvznpuay/image/upload/v1519609969/bg4_ykd1ym.jpg");
                background-size: 100em;
                display : flex;
                flex-direction: column;
                
                .contentcard2{
                    // border : 5px solid $border9;
                    display: flex;
                    justify-content: center;
                    margin-top : 10em;
    
    
    
                    .cc2lvl1b1{
                        // border : 5px solid $border4;
                        display: flex;
                        flex-direction : column; 
                        align-items: center;
                        background-color : $cc2back;
                        color : $white;
                        font-family: $textfont3;
                        padding: 5em 0;
                        // margin : 0 10em; 
                        justify-content: center;
                        width : 55%;
    
                        .cc2lvl2b1, .cc2lvl2b2, .cc2lvl2b3{
                            display: flex;
                            flex-direction : column; 
                            width : 50%;
                            align-items: center;
                            margin-top: 2em;
                        }
    
                        // .cc2lvl2b1{
                        //     border : 5px solid $border6;
                        //     .cc2lvl3b1{
                        //         border : 5px solid $border2;
                        //     }
                        // }
                        .cc2lvl2b2{
                            // border : 5px solid $border11;
                            .cc2lvl3b2{
                            //  border : 5px solid $border7;
                                font-size: 1.6em;
                                font-weight: bold;
                                margin-bottom: 1em;
                            }
                        
                            .cc2lvl3b3{
                                // border : 5px solid $border10;
                                line-height: 2em;
                                text-align: center;
                            }
                        }
                        .cc2lvl2b3{
                            // border : 2px solid $border5;
                            margin-bottom : 2em;
                            .cc2lvl3b4{
                                border : 2px solid $green;
                                padding : 0.8em 1.7em;
                                //needs a transition, look in TTT for help
                                &:hover{
                                    background-color : change-color($green, 0, 214, 70); 
                                }
                                &:active{
                                    background-color : change-color($green, 0, 54, 18);
                                    border : 2px solid rgb(0, 54, 18);
                                }
    
                            }
                        }
                    }
    
    
    
    
                }
    
                .contentcard3{
                    // border : 5px solid $border1;
                    // background-color: $tan;
                    display: flex;
                    justify-content: center;
                    margin-bottom : 10em;
    
                    .cc3lvl1b1{
                        display: flex;
                        flex-direction: column;
                        // border : 5px solid $border3;
                        margin: 3em 0 1.5em 0;
                        font-family: $textfont2;
                        font-size: 2.8em;
                        color : $white; 
                        display: flex;
                        justify-content: center;
                        width: 60%;
                        
    
                        .cc3lvl2b1{ 
                            // border : 5px solid $border7;
                            display: flex;
                            justify-content: center;  
                            
                            .cc3lvl3b1{
                                // border : 5px solid $border8;
                                padding: 0 0.2em;
                                color : $cc2back;
                            }
                            .cc3lvl3b2{
                                // border : 5px solid $border2;
                                padding: 0 0.2em; 
                            }
                        }
    
                        .cc3lvl2b2{
                            // border : 5px solid $border11;
                            text-align: center;
                            font-family: $textfont3;
                            font-weight : bold;
                            font-size: 0.5em;
                            margin-bottom : 1em;
                        }
    
                        .cc3lvl2b3{
                            // border : 5px solid $border5;
                            font-family: $textfont3;
                            font-size : 0.5em;
                            display : flex;
                            flex-direction: column;
                            background-color: rgba(190,199,213,.40);
                            padding : 1em 3em;
                            .cc3lvl3b3, .cc3lvl3b4, .cc3lvl3b5, .cc3lvl3b6, .cc3lvl3b7,.cc3lvl3b8,.cc3lvl3b9, .cc3lvl3b10{
                                display : flex;
                                flex-direction: row; 
                                color : black;
                            }
    
                            .cc3lvl3b3{
                                // border : 5px solid $border12;
                                // .cc3lvl4b1{
                                //     border : 5px solid $border2;
                                // }
                                .cc3lvl4b2{
                                    // border : 5px solid $border10;
                                    padding-top : 0.7em;
                                    padding-left : 1em;                            
                                }
                            }
                            .cc3lvl3b4{
                                // border : 5px solid $border11;
                                // .cc3lvl4b3{
                                //     border : 5px solid $border2;
                                    padding : 0 0.2em;
                                // }
                                .cc3lvl4b4{
                                    // border : 5px solid $border10;
                                    padding-top : 0.7em;
                                    padding-left : 1em;
                                }
                            }
                            .cc3lvl3b5{
                                // border : 5px solid $border12;
                                // .cc3lvl4b5{
                                //     border : 5px solid $border2;
                                    padding : 0 .5em;
    
                                // }
                                .cc3lvl4b6{
                                    // border : 5px solid $border10;
                                    padding-top : 0.7em;
                                    padding-left : 1em;
                                    
                                }
                            }
                            .cc3lvl3b6{
                                // border : 5px solid $border11;
                                // .cc3lvl4b7{
                                //     border : 5px solid $border2;
    
                                // }
                                .cc3lvl4b8{
                                    // border : 5px solid $border10;
                                    padding-top : 0.7em;
                                    padding-left : 1em;
                                    
                                }
                            }
                            .cc3lvl3b7{
                                // border : 5px solid $border12;
                                // .cc3lvl4b9{
                                //     border : 5px solid $border2;
    
                                // }
                                .cc3lvl4b10{
                                    // border : 5px solid $border10;
                                    padding-top : 0.7em;
                                    padding-left : 1em;
                                    
                                }
                            }
                            .cc3lvl3b8{
                                // border : 5px solid $border11;
                                // .cc3lvl4b11{
                                //     border : 5px solid $border2;
    
                                // }
                                .cc3lvl4b12{
                                    // border : 5px solid $border10;
                                    padding-top : 0.7em;
                                    padding-left : 1em;
                                    
                                }
                            }
                            .cc3lvl3b9{
                                // border : 5px solid $border12;
                                // .cc3lvl4b13{
                                //     border : 5px solid $border2;
    
                                // }
                                .cc3lvl4b14{
                                    // border : 5px solid $border10;
                                    padding-top : 0.7em;
                                    padding-left : 1em;
                                    
                                }
                            }
                            .cc3lvl3b10{
                                // border : 5px solid $border11;
                                // .cc3lvl4b15{
                                //     border : 5px solid $border2;
    
                                // }
                                .cc3lvl4b16{
                                    // border : 5px solid $border10;
                                    padding-top : 0.7em;
                                    padding-left : 1em;
                                    
                                }
                            }
                            
                        }
    
    
                    }
    
                }
    
            }
            .card3{
                background-image : url("http://res.cloudinary.com/dtvznpuay/image/upload/v1519609961/bg3_hojgf5.jpg");
                background-size: 200em;
                border-bottom: 5em solid $cc2back;
            
                .contentcard4{
                    // border : 5px solid $border1;
                    display: flex;
                    flex-direction: column;
                    // background-color: $cc4back; 
                    align-items: center;
                    padding: 10em 0;
                    // margin-top : 5em;
                    
                    .cc4b1{
                        font-family: $textfont2;
                        font-size: 2.8em;
                        color : $white; 
                        // border : 5px solid $border3;
                        display: flex;
                        margin-bottom: 2em;
                        .cc4lvl1b1, .cc4innerb2{
                            padding: 0 0.2em;
                        }
    
                        .cc4lvl1b1{
                            color : $text-active;
                            // border : 5px solid $border8;
                        }
                        // .cc4lvl1b2{
                        //     border : 5px solid $border2;
                        // }
                    }
                    .cc4b2{
                        // border : 5px solid $border5;
                        display: flex;
                        
                        .cc4lvl1b3,  .cc4lvl1b4 , .cc4lvl1b5{
                            color: white;
                        }
    
    
                        .cc4lvl1b3{
                            // border : 5px solid $border1;
                            background-color: #191b23;
                            padding : 1em 0.5em 1em 1em;
                            
                        }
                        .cc4lvl1b4{
                            // border : 5px solid $border4;
                            background-color: #191b23;
                            padding : 1em 0.5em 1em 0.5em;
                        }
                        .cc4lvl1b5{
                            // border : 5px solid $border3;
                            background-color: #191b23;
                            padding : 1em 1em 1em 0.5em;
                        }
                    }
                }
    
                .contentcard5{
                    // border: 5px solid $border11;
                    display: flex;
                    flex-direction: column;
                    // background-color: $cc5back; 
                    padding: 10em 0;
    
                    .cc5lvl1b1{
                        // border : 5px solid $border3;
                        margin-bottom: 1.5em;
                        font-family: $textfont2;
                        font-size: 2.8em;
                        color : $white; 
                        display: flex;
                        justify-content: center;
                            
                        .cc5lvl2b1{
                            // border : 5px solid $border8;
                            padding: 0 0.2em;
                            color : $text-active;
                        }
                        .cc5lvl2b2{
                            // border : 5px solid $border2;
                            padding: 0 0.2em; 
                        }
                    }
    
                    .cc5lvl1b2{
                        // border: 5px solid $border4;
                        font-family: $textfont3;
                        display: flex;
                        flex-direction: column-reverse;
                    
                        .cc5lvl2b3{
                            // border: 5px solid $border2;
                            display: flex;
                            justify-content: flex-start;
                            
                            .cc5lvl3b1{
                                // border: 5px solid $border8;
                                display: flex;
                                flex-direction: column;
                                width : 20%;
                                color :white;
                                text-align: right;
                                margin-left : 21em;
                                
                                .cc5lvl4b1{
                                    // border: 5px solid $border1;
                                    color : $green;
                                    font-family: $textfont2;
                                    font-size: 1em;
                                }
    
                                .cc5lvl4b2{
                                    // border: 5px solid $border3;
                                    font-weight: bold;
                                    font-size: 1.4em;    
                                }
    
                                .cc5lvl4b3{
                                    // border: 5px solid $border5;
                                    font-weight: bold;
                                }
                            }
                        }
                        .cc5lvl2b4{
                            // border: 5px solid $border6;
                            display: flex;
                            justify-content: flex-end;
    
                            .cc5lvl3b2{
                                // border: 5px solid $border8;
                                display: flex;
                                flex-direction: column;
                                width : 20%;
                                color :white;
                                text-align: left;
                                margin-right : 21em;
                            
                                .cc5lvl4b4{
                                    // border: 5px solid $border1;
                                    color : $green;
                                    font-family: $textfont2;
                                    font-size: 1em;
                                }
                                .cc5lvl4b5{
                                    // border: 5px solid $border3;
                                    font-weight: bold;
                                    font-size: 1.4em;  
                                }
    
                                .cc5lvl4b6{
                                    // border: 5px solid $border2;
                                    font-weight: bold;
                                }
    
                                .cc5lvl4b7{
                                    // border: 5px solid $border9;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
    
                .contentcard6{
                    margin-bottom : 15em;
                    
                    .cc6lvl1b1{
                        // border : 5px solid $border1;
                        background-color: $cc6back;
                        color :$white;
                        font-family: $textfont3;
                        display : flex;
                        flex-direction: column;
                        margin : 5em 15em;
                        padding : 5em 5em;
                    
                        .cc6lvl2b1{
                            display : flex;
                            flex-direction: row;
                            justify-content: center;
                            // border : 5px solid $border2;
                            
                            
                            .cc6lvl3b1{
                                // border : 5px solid $border3;
                                margin-right : 4em;
                                .cc6lvl4b1{
                                    // border : 5px solid $border4;
                                    font-size : 1.4em;
                                    font-weight: bold;
                                    margin-bottom : 1.2em;
    
                                }
                                .cc6lvl4b2{
                                    // border : 5px solid $border5;
                                    font-weight: bold;
                                    margin-bottom : 1.4em;
                                    
                                }
                                .cc6lvl4b3{
                                    // border : 5px solid $border6;
                                    font-weight: bold;
                                    margin-bottom : 1.2em;
                                    
                                }
                                .cc6lvl4b4{
                                    // border : 5px solid $border7;
                                    font-weight: bold;
                                    
                                }
    
    
                            }
                            .cc6lvl3b2{
                                // border : 5px solid $border8;
                                justify-content: center;
                                margin-left : 4em;
    
                                .searchb1,  .searchb2,  .searchb3{
                                    border: none;
                                    margin-bottom: 12px;
                                    padding: 5px;
                                    min-height: 40px;
                                    color: gray;                              
                                    width: 175px;
                                    font-family: $textfont3;
                                    // font-weight: bold;
                                    font-size: 1em;
                                    
                                }
    
                                .cc6lvl4b5{
                                    // border : 5px solid $border5;
                                    display : flex;
                                    
    
                                    .cc6lvl5b1{
                                        // border : 5px solid $border9;
                                        padding-right: 15px;
                                        .searchb2{
                                            margin-right : 10px;
                                        }
    
                                    }
                                    .cc6lvl5b2{
                                        // border : 5px solid $border10;
    
                                    }
                                    
                                }
                                .cc6lvl4b6{
                                    // border : 5px solid $border11;
                                    .searchb2{
                                        width: 365px;
                                    }
                                    
                                }
                                .cc6lvl4b7{
                                    // border : 5px solid $border12;
                                    .searchb3{
                                        width: 365px;
                                        height: 150px;
                                        margin-bottom: 6px;
                                    }
    
                                    
                                }  
                                 
                                .cc6button{
                                    // border : 5px solid $border8;
                                    background-color: $green;
                                    color : black;
                                    padding: 0.7em;
                                    text-align: center;
                                    &:hover{
                                        background-color : change-color($green, 4, 100, 61); 
                                    }
                                    &:active{
                                        background-color : change-color($green, 0, 54, 18);
                                    }
                                }  
                            }
                        }
                        .cc6lvl2b2{
                            // border : 5px solid $border5;
                            margin-top: 4em; 
                            .cc6lvl3b3{
                                // border : 5px solid $border2;
                                text-align: center;
                                
                            }
                        }
                    }
                    .cc6lvl1b2{
                        // border : 5px solid $border9;
                        display : flex;
                        justify-content: center;
                        margin: 15em 0;
    
                        // .cc6lvl2b3{
                        //     border : 5px solid $border1;
                        // }
                    }
                }
            }
        }

        .ProjectPage1{
            .pp1lvl1b1{
                display : flex;
                flex-direction: column;
                // border : 5px solid $border1;
                background-color: $ppcolor;
                color: white;

                .pp1lvl2b1{
                    // border : 5px solid $border2;
                    font-family: $textfont2;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    font-size : 4em;
                    margin-top : 2em;
                    .pp1lvl3b1{
                        // border : 5px solid $border6;
                        margin : 0 5px;
                    }
                    .pp1lvl3b2{
                        // border : 5px solid $border8;
                        margin : 0 5px;
                    }
                
                }

                .pp1lvl2b2{
                    // border : 5px solid $border4;
                    display : flex;
                    flex-direction : row;
                    justify-content: center;
                    .pp1lvl3b3{
                        // border : 5px solid $border8;
                        display : flex;
                        margin : 80px 40px 40px 40px;
                    }
                    .pp1lvl3b4{
                        // border : 5px solid $border7;
                        margin : 80px 40px 40px 40px;
                    }
                    .pp1lvl3b5{
                        // border : 5px solid $border9;
                        margin : 40px;
                    }
                    .pp1lvl3b6{
                        // border : 5px solid $border12;
                        margin : 80px 40px 40px 40px;
                    }
                    .pp1lvl3b7{
                        // border : 5px solid $border2;
                        margin : 80px 40px 40px 40px;
                    }
                    
                }

                .pp1lvl2b3{
                    display : flex;
                    flex-direction: column;
                    // border : 5px solid $border2;
                    .pp1lvl3b8{
                        background-color: $ppcolordark;
                        font-family : $textfont3;
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 50%;
                        padding : 2em;
                        .pp1lvl4b1{
                            // border : 5px solid $border4;
                            font-size: 4em;
                            
                        }
                        .pp1lvl4b2{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }
                    }
                    .pp1lvl3b9{
                        background-color: $ppcolordark;
                        font-family : $textfont3;
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 50%;
                        padding : 2em;
                        .pp1lvl4b3{
                            // border : 5px solid $border4;
                            font-size: 4em;
                            
                        }
                        .pp1lvl4b4{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }
                    }

                    .pp1lvl3b10{
                     
                        background-color: $ppcolordark;
                        font-family : $textfont3;
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 50%;
                        padding : 2em;
                        .pp1lvl4b5{
                            // border : 5px solid $border4;
                            font-size: 4em;
                            
                        }
                        .pp1lvl4b6{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }
                    }


                    
                }

                .pp1lvl2b4{
                    
                    font-family : $textfont3;
                    // border : 5px solid $border9;
                    display : flex; 
                    
                    .pp1lvl3b11{
                        // border : 5px solid $border8;
                        margin : 2em 2em 4em 2em;
                        width : 75%;
                        padding : 2em;
                        background-color: $ppcolordark;

                        .pp1lvl4b7{
                            // border : 5px solid $border4;
                            font-size: 4em;

                        }
                        .pp1lvl4b8{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }

                    }

                }

                .pp1lvl2b5{
                    font-family : $textfont3;
                    // border : 5px solid $border9;
                    background-color: $ppcolordark;

                    .pp1lvl3b12{
                        // border : 5px solid $border8;
                        margin : 2em;
                        padding : 2em;
                        display : flex;
                        

                        .pp1lvl4b9{
                            // border : 5px solid $border4;
                            padding : 0 1em;
                            margin : 0 2em;
                            
                            
                            
                            .pp1lvl5b1{
                                // border : 5px solid $border1;
                                font-size: 4em;
                                
                            }
                            .pp1lvl5b2{
                                // border : 5px solid $border2;
                                font-size: 1.5em;
                            }
                            
                        }
                        .pp1lvl4b10{
                            .pp1lvl5b3{
                                // border : 5px solid $border5;
                            }
                        }
                    }

                    .pp1lvl3b13{
                        // border : 5px solid $border8;
                        margin : 2em;
                        padding : 2em;
                        display : flex;
                        flex-direction: row-reverse;

                        .pp1lvl4b11{
                            // border : 5px solid $border4;
                            padding : 0 1em;
                            margin : 0 2em;
                             
                            .pp1lvl5b4{
                                // border : 5px solid $border1;
                                font-size: 4em;     
                            }
                            .pp1lvl5b5{
                                // border : 5px solid $border2;
                                font-size: 1.5em;
                            }
                        }
                        // .pp1lvl4b12{
                        //     .pp1lvl5b6{
                        //         // border : 5px solid $border5;
                        //     }
                        // }

                    }

                    .pp1lvl3b14{
                        // border : 5px solid $border8;
                        margin : 2em;
                        padding : 2em;
                        display : flex;

                        .pp1lvl4b13{
                            // border : 5px solid $border4;
                            padding : 0 1em;
                            margin : 0 2em;
                             
                            .pp1lvl5b7{
                                // border : 5px solid $border1;
                                font-size: 4em;     
                            }
                            .pp1lvl5b8{
                                // border : 5px solid $border2;
                                font-size: 1.5em;
                            }
                        }
                        // .pp1lvl4b14{
                        //     .pp1lvl5b9{
                        //         // border : 5px solid $border5;
                        //     }
                        // }
                    }


                    .pp1lvl3b15{
                        // border : 5px solid $border8;
                        margin : 2em;
                        padding : 2em;
                        display : flex;
                        flex-direction: column;

                        .pp1lvl4b15{
                            display : flex;
                            flex-direction: column;
                            // border : 5px solid $border4;
                            padding : 0 1em;
                            margin : 0 2em;
                             
                            .pp1lvl5b10{
                                // border : 5px solid $border1;
                                font-size: 4em;     
                            }
                            .pp1lvl5b11{
                                // border : 5px solid $border2;
                                font-size: 1.5em;
                            }
                        }
                        
                        .pp1lvl4b16{
                            display : flex;
                            flex-direction: row;
                            justify-content: center;
                            margin-top: 2em;
                            // border : 5px solid $border7;
                            .pp1lvl5b12{
                                // border : 5px solid $border5;
                                margin : 0 5em;
                                
                            }
                            .pp1lvl5b13{
                                // border : 5px solid $border5;
                                margin : 0 5em;

                            }
                        }
                    }
                }

                .pp1lvl2b6{
                    
                    font-family : $textfont3;
                    // border : 5px solid $border9;
                    display : flex;
                    margin-top : 2em;
                    
                    .pp1lvl3b16{
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 75%;
                        padding : 2em;
                        background-color: $ppcolordark;

                        .pp1lvl4b17{
                            // border : 5px solid $border4;
                            font-size: 4em;

                        }
                        .pp1lvl4b18{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }

                    }

                }

                .pp1lvl2b7{
                    display : flex;
                    font-family : $textfont3;
                    margin-bottom: 3em;

                    
                    .pp1lvl3b18{
                        margin : 2em;
                        width : 75%;
                        padding : 2em;
                        background-color: $ppcolordark;
                        // border : 5px solid $border8;


                        .pp1lvl4b21{
                            // border : 5px solid $border4;
                            font-size: 2em;
                        

                        }
                        .pp1lvl4b22{
                            // border : 5px solid $border1;
                            display : flex;
                            flex-direction: column;
                            font-size: 1em;
                            
                        }
                    }

                    .pp1lvl3b19{
                        margin : 2em;
                        width : 75%;
                        padding : 2em;
                        background-color: $ppcolordark;
                        // border : 5px solid $border8;


                        .pp1lvl4b23{
                            // border : 5px solid $border4;
                            font-size: 2em;
                           

                        }
                        .pp1lvl4b24{
                            // border : 5px solid $border1;
                            display : flex;
                            flex-direction: column;
                            font-size: 1em;
                            
                        }
                    }

                }
            }
        }
        .ProjectPage2{
            .pp2lvl1b1{
                border : 5px solid $border4;
                display : flex;
                flex-direction: column;
                background-color: $ppcolor;
                color: white;
                .pp2lvl2b1{
                    // border : 5px solid $border8;
                    display:flex;
                    font-family: $textfont2;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    font-size : 4em;
                    margin-top : 2em;
                    .pp2lvl3b1{
                        // border : 5px solid $border1;
                        margin : 0 5px;
                    }
                    .pp2lvl3b2{
                        // border : 5px solid $border5;
                        margin : 0 5px;
                        margin-top :0.5em;
                    }
                }
   
                .pp2lvl2b2{
                    display : flex;
                    flex-direction: column;
                    // border : 5px solid $border2;
                    .pp2lvl3b3{
                        background-color: $ppcolordark;
                        font-family : $textfont3;
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 50%;
                        padding : 2em;
                        .pp2lvl4b1{
                            // border : 5px solid $border4;
                            font-size: 4em;
                            
                        }
                        .pp2lvl4b2{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }
                    }
                    .pp2lvl3b4{
                        background-color: $ppcolordark;
                        font-family : $textfont3;
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 50%;
                        padding : 2em;
                        .pp2lvl4b3{
                            // border : 5px solid $border4;
                            font-size: 4em;
                            
                        }
                        .pp2lvl4b4{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }
                    }

                    .pp2lvl3b5{
                     
                        background-color: $ppcolordark;
                        font-family : $textfont3;
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 50%;
                        padding : 2em;
                        .pp2lvl4b5{
                            // border : 5px solid $border4;
                            font-size: 4em;
                            
                        }
                        .pp2lvl4b6{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }
                    }
                }

                .pp2lvl2b3{
                    
                    font-family : $textfont3;
                    // border : 5px solid $border9;
                    display : flex; 
                    
                    .pp2lvl3b6{
                        // border : 5px solid $border8;
                        margin : 2em 2em 4em 2em;
                        width : 75%;
                        padding : 2em;
                        background-color: $ppcolordark;

                        .pp2lvl4b7{
                            // border : 5px solid $border4;
                            font-size: 4em;

                        }
                        .pp2lvl4b8{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }

                    }

                }

                .pp2lvl2b4{
                    // border : 5px solid $border1;
                    background-color: $ppcolordark;
                    .pp2lvl3b7{
                        // border : 5px solid $border8;
                        margin : 2em;
                        padding : 2em;
                        display : flex;
                        

                        .pp2lvl4b9{
                            // border : 5px solid $border4;
                            padding : 0 1em;
                            margin : 0 2em;
                            
                            
                            
                            .pp2lvl5b1{
                                // border : 5px solid $border1;
                                font-size: 4em;
                                
                            }
                            .pp2lvl5b2{
                                // border : 5px solid $border2;
                                font-size: 1.5em;
                            }
                            
                        }
                        .pp2lvl4b10{
                            .pp1lvl5b3{
                                // border : 5px solid $border5;
                            }
                        }
                    }
                    .pp2lvl3b8{
                        // border : 5px solid $border8;
                        margin : 2em;
                        padding : 2em;
                        display : flex;
                        flex-direction: row-reverse;
                        

                        .pp2lvl4b11{
                            // border : 5px solid $border4;
                            padding : 0 1em;
                            margin : 0 2em;
                            
                            
                            
                            .pp2lvl5b4{
                                // border : 5px solid $border1;
                                font-size: 4em;
                                
                            }
                            .pp2lvl5b5{
                                // border : 5px solid $border2;
                                font-size: 1.5em;
                            }
                            
                        }
                        .pp2lvl4b12{
                            .pp2lvl5b6{
                                // border : 5px solid $border5;
                            }
                        }
                    }
                }

                .pp2lvl2b5{
                 
                    font-family : $textfont3;
                    // border : 5px solid $border9;
                    display : flex;
                    margin-top : 2em;
                    
                    .pp2lvl3b9{
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 75%;
                        padding : 2em;
                        background-color: $ppcolordark;

                        .pp2lvl4b13{
                            // border : 5px solid $border4;
                            font-size: 4em;

                        }
                        .pp2lvl4b14{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }

                    }

                }

                .pp2lvl2b6{
                    display : flex;
                    font-family : $textfont3;
                    margin-bottom: 3em;

                    
                    .pp2lvl3b13{
                        margin : 2em;
                        width : 75%;
                        padding : 2em;
                        background-color: $ppcolordark;
                        // border : 5px solid $border8;


                        .pp2lvl4b21{
                            // border : 5px solid $border4;
                            font-size: 2em;
                        

                        }
                        .pp2lvl4b22{
                            // border : 5px solid $border1;
                            display : flex;
                            flex-direction: column;
                            font-size: 1em;
                            
                        }
                    }

                    .pp2lvl3b14{
                        margin : 2em;
                        width : 75%;
                        padding : 2em;
                        background-color: $ppcolordark;
                        // border : 5px solid $border8;


                        .pp2lvl4b23{
                            // border : 5px solid $border4;
                            font-size: 2em;
                           

                        }
                        .pp2lvl4b24{
                            // border : 5px solid $border1;
                            display : flex;
                            flex-direction: column;
                            font-size: 1em;
                            
                        }
                    }

                }

            }
        }
        .ProjectPage3{
            .pp3lvl1b1{
                border : 5px solid $border7;
                display : flex;
                flex-direction: column;
                justify-content: center;
                background-color: $ppcolor;
                color: white;

                .pp3lvl2b1{
                    display : flex;
                    // border : 5px solid $border6;
                    justify-content: center;
                    font-size : 4em;
                    margin-top : 2em;

                    // .pp3lvl3b1{
                    //     border : 5px solid $border9;
                    // }
                    
                }

                .pp3lvl2b2{
                    display : flex;
                    flex-direction: column;
                    // border : 5px solid $border2;
                    .pp3lvl3b2{
                        background-color: $ppcolordark;
                        font-family : $textfont3;
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 50%;
                        padding : 2em;
                        .pp3lvl4b1{
                            // border : 5px solid $border4;
                            font-size: 4em;
                            
                        }
                        .pp3lvl4b2{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }
                    }
                    .pp3lvl3b3{
                        background-color: $ppcolordark;
                        font-family : $textfont3;
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 50%;
                        padding : 2em;
                        .pp3lvl4b3{
                            // border : 5px solid $border4;
                            font-size: 4em;
                            
                        }
                        .pp3lvl4b4{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }
                    }

                    .pp3lvl3b4{
                     
                        background-color: $ppcolordark;
                        font-family : $textfont3;
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 50%;
                        padding : 2em;
                        .pp3lvl4b5{
                            // border : 5px solid $border4;
                            font-size: 4em;
                            
                        }
                        .pp3lvl4b6{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }
                    }

                    

                    

                }
                .pp3lvl2b3{
                    background-color: $ppcolordark;
                    padding : 2em;
                    
                    .pp3lvl3b5{
                        // border : 5px solid $border8;
                        display : flex;
                        flex-direction: column;

                        .pp3lvl4b7{
                            display : flex;
                            flex-direction: column;
                            // border : 5px solid $border4;
                            padding : 0 1em;
                            margin : 0 2em;
                             
                            .pp3lvl5b1{
                                // border : 5px solid $border1;
                                font-size: 4em;     
                            }
                            .pp3lvl5b2{
                                // border : 5px solid $border2;
                                font-size: 1.5em;
                            }
                        }
                        
                        .pp3lvl4b8{
                            display : flex;
                            flex-direction: row;
                            justify-content: center;
                            // border : 5px solid $border2;
                            margin-top: 2em;
                            // border : 5px solid $border7;
                            .pp3lvl5b3{
                                // border : 5px solid $border5;
                                margin : 0 5em;
                                .pp3lvl6b1{
                                    // border : 5px solid $border3;
                                }
                                
                            }
                            .pp3lvl5b4{
                                // border : 5px solid $border9;
                                margin : 0 5em;
                                .pp3lvl6b2{
                                    // border : 5px solid $border3;
                                }

                            }
                        }
                    }
                    


                }
                .pp3lvl2b4{
                    display : flex;
                    flex-direction: column;
                    // border : 5px solid $border2;
                    .pp3lvl3b2{
                        background-color: $ppcolordark;
                        font-family : $textfont3;
                        // border : 5px solid $border8;
                        margin : 2em;
                        width : 50%;
                        padding : 2em;
                        .pp3lvl4b1{
                            // border : 5px solid $border4;
                            font-size: 4em;
                            
                        }
                        .pp3lvl4b2{
                            // border : 5px solid $border1;
                            font-size: 1.5em;
                            
                        }
                    }
                         

                }


            }
        }
    }
}
