@font-face {
  font-family: 'Avenir_Heavy_Oblique';
  src: url("./fonts/Avenir Heavy Oblique.otf"); }

@font-face {
  font-family: 'Lulo_Clean_One_Bold';
  src: url("./fonts/Lulo_Clean_One_Bold.otf"); }

@font-face {
  font-family: 'Avenir_Light';
  src: url("./fonts/Avenir Light.otf"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 255, 0, 0.1); }
  * .App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    * .App .heading1 {
      border: 5px solid coral;
      font-size: 0.7em;
      background-color: #434343;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      * .App .heading1 .h1box {
        font-family: "Avenir_Light", windings;
        color: #939DAB;
        text-align: center;
        line-height: 50px;
        padding: 0 10px; }
        * .App .heading1 .h1box:hover {
          color: #bec7d5; }
      * .App .heading1 .h1b1 {
        margin-left: 15em;
        font-size: 1.6em;
        border: 5px solid red;
        width: 3.4em; }
        * .App .heading1 .h1b1 .h1innerb1 {
          border: 5px solid coral;
          text-align: center;
          color: #00D646; }
          * .App .heading1 .h1b1 .h1innerb1:hover {
            color: #00d646; }
      * .App .heading1 .h1b2 {
        margin-left: 10em;
        border: 5px solid cyan;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        * .App .heading1 .h1b2 .h1innerb2 {
          color: #00D646;
          border: 5px solid green; }
          * .App .heading1 .h1b2 .h1innerb2:hover {
            color: #00d646; }
        * .App .heading1 .h1b2 .h1innerb3 {
          border: 5px solid purple; }
        * .App .heading1 .h1b2 .h1innerb4 {
          border: 5px solid green; }
    * .App .contentcard1 {
      border: 5px solid pink;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #434343;
      color: #FFFFFF;
      padding: 5em 0; }
      * .App .contentcard1 .makeGreen {
        color: #00D646; }
      * .App .contentcard1 .cc1b1, * .App .contentcard1 .cc1b2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
        -webkit-box-align: left;
        -ms-flex-align: left;
        align-items: left; }
      * .App .contentcard1 .cc1b1 {
        margin-top: 1em;
        border: 5px solid purple;
        font-size: 4em;
        font-family: "Lulo_Clean_One_Bold", wingdings;
        font-weight: bolder; }
        * .App .contentcard1 .cc1b1 .cc1lvl1b1 {
          border: 5px solid red; }
        * .App .contentcard1 .cc1b1 .cc1lvl1b2 {
          border: 5px solid yellow; }
      * .App .contentcard1 .cc1b2 {
        margin-top: 3em;
        border: 5px solid cyan;
        font-size: 1.5em;
        font-family: "Avenir_Light", windings; }
        * .App .contentcard1 .cc1b2 .cc1lvl1b3 {
          border: 5px solid blue; }
        * .App .contentcard1 .cc1b2 .cc1lvl1b4 {
          border: 5px solid red; }
    * .App .contentcard2 {
      border: 5px solid purple;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #262C3E;
      color: #FFFFFF;
      font-family: "Avenir_Light", windings;
      padding: 5em 0;
      margin: 0 10em; }
      * .App .contentcard2 .cc2b1, * .App .contentcard2 .cc2b2, * .App .contentcard2 .cc2b3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 2em;
        margin-top: 2em; }
      * .App .contentcard2 .cc2b1 {
        border: 5px solid cyan; }
      * .App .contentcard2 .cc2b2 {
        border: 5px solid coral;
        font-weight: bold; }
        * .App .contentcard2 .cc2b2 .cc2lvl1b1 {
          font-size: 1.5em;
          border: 5px solid purple; }
        * .App .contentcard2 .cc2b2 .cc2lvl1b2 {
          line-height: 2em;
          text-align: center;
          border: 5px solid red; }
      * .App .contentcard2 .cc2b3 {
        border: 5px solid blue; }
        * .App .contentcard2 .cc2b3 .cc2lvl1b3 {
          border: 2px solid #00D646;
          padding: 0.8em 1.7em; }
          * .App .contentcard2 .cc2b3 .cc2lvl1b3:hover {
            background-color: #00d646; }
    * .App .contentcard4 {
      border: 5px solid red;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #8000ff;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10em 0; }
      * .App .contentcard4 .cc4b1 {
        font-family: "Lulo_Clean_One_Bold", wingdings;
        font-size: 2.8em;
        color: #FFFFFF;
        border: 5px solid green;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 2em; }
        * .App .contentcard4 .cc4b1 .cc4lvl1b1, * .App .contentcard4 .cc4b1 .cc4innerb2 {
          padding: 0 0.2em; }
        * .App .contentcard4 .cc4b1 .cc4lvl1b1 {
          color: #BEC7D5;
          border: 5px solid yellow; }
        * .App .contentcard4 .cc4b1 .cc4lvl1b2 {
          border: 5px solid cyan; }
      * .App .contentcard4 .cc4b2 {
        border: 5px solid blue;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        * .App .contentcard4 .cc4b2 .cc4lvl1b3, * .App .contentcard4 .cc4b2 .cc4lvl1b4, * .App .contentcard4 .cc4b2 .cc4lvl1b5 {
          padding: 7em 7em 7em 7em;
          color: white; }
        * .App .contentcard4 .cc4b2 .cc4lvl1b3 {
          border: 5px solid red;
          background-color: #16181F; }
        * .App .contentcard4 .cc4b2 .cc4lvl1b4 {
          border: 5px solid purple;
          background-color: #181A1F; }
        * .App .contentcard4 .cc4b2 .cc4lvl1b5 {
          border: 5px solid green;
          background-color: #16181F; }
    * .App .contentcard5 {
      border: 5px solid indigo;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #0377f6;
      padding: 10em 0; }
      * .App .contentcard5 .cc5lvl1b1 {
        border: 5px solid green;
        margin-bottom: 1.5em;
        font-family: "Lulo_Clean_One_Bold", wingdings;
        font-size: 2.8em;
        color: #FFFFFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        * .App .contentcard5 .cc5lvl1b1 .cc5lvl2b1 {
          border: 5px solid yellow;
          padding: 0 0.2em;
          color: #BEC7D5; }
        * .App .contentcard5 .cc5lvl1b1 .cc5lvl2b2 {
          border: 5px solid cyan;
          padding: 0 0.2em; }
      * .App .contentcard5 .cc5lvl1b2 {
        border: 5px solid purple;
        font-family: "Avenir_Light", windings;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
        * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b3 {
          border: 5px solid cyan;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start; }
          * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b3 .cc5lvl3b1 {
            border: 5px solid yellow;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 20%;
            color: white;
            text-align: right;
            margin-left: 21em; }
            * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b3 .cc5lvl3b1 .cc5lvl4b1 {
              border: 5px solid red;
              color: #00D646;
              font-family: "Lulo_Clean_One_Bold", wingdings;
              font-size: 1em; }
            * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b3 .cc5lvl3b1 .cc5lvl4b2 {
              border: 5px solid green;
              font-weight: bold;
              font-size: 1.4em; }
            * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b3 .cc5lvl3b1 .cc5lvl4b3 {
              border: 5px solid blue;
              font-weight: bold; }
        * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b4 {
          border: 5px solid pink;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end; }
          * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b4 .cc5lvl3b2 {
            border: 5px solid yellow;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 20%;
            color: white;
            text-align: left;
            margin-right: 21em; }
            * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b4 .cc5lvl3b2 .cc5lvl4b4 {
              border: 5px solid red;
              color: #00D646;
              font-family: "Lulo_Clean_One_Bold", wingdings;
              font-size: 1em; }
            * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b4 .cc5lvl3b2 .cc5lvl4b5 {
              border: 5px solid green;
              font-weight: bold;
              font-size: 1.4em; }
            * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b4 .cc5lvl3b2 .cc5lvl4b6 {
              border: 5px solid cyan;
              font-weight: bold; }
            * .App .contentcard5 .cc5lvl1b2 .cc5lvl2b4 .cc5lvl3b2 .cc5lvl4b7 {
              border: 5px solid magenta;
              font-weight: bold; }
